[submodule "samples/django-sample"]
	path = samples/django-sample
	url = git@github.com:sota0121/django-sample.git
[submodule "samples/fastapi-sample"]
	path = samples/fastapi-sample
	url = git@github.com:sota0121/fastapi-sample
[submodule "k8s-official-examples"]
	path = samples/k8s-official-examples
	url = git@github.com:kubernetes/examples.git
[submodule "samples/python-grpc-demo"]
	path = samples/python-grpc-demo
	url = git@github.com:amitsaha/python-grpc-demo.git
[submodule "samples/play-rtsp-stream-py"]
	path = samples/play-rtsp-stream-py
	url = git@github.com:sota0121/play-rstp-stream-py.git
