<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Photo</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap');
    </style>
    <link rel="stylesheet" href="./styles.css">
    <script src="js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <header>
        <div id="vue_title">
            {{message_from_vue}}
        </div>
    </header>
    <div class="container">
        <div id="img_unit">
            <!-- v-for="Photo in Photos" is for loop of Vue.js -->
            <div class="photo" v-for="Photo in Photos">
                <img :src="Photo.path">
                <div class="inner">
                    <p>{{Photo.name}} | {{Photo.caption}}</p>
                </div>
            </div>
        </div>

        <div id="vue_footter">
            {{company}} | {{msg}}
        </div>
    </div>

    <script>
        let app = new Vue({
            el: '#img_unit',
            data: {
                Photos: []
            },
            created: function() {
                let self = this;
                $.getJSON('https://h2o-space.com/htmlbook/images.php', function(loadedData) {
                    self.Photos = loadedData;
                });
            }
        });

        // === jquery version ===
        // $.getJSON('https://h2o-space.com/htmlbook/images.php', function(data) {
        //     for (let index = 0; index < data.length; index++) {
        //         const element = data[index];
        //         $('<div class="photo"></div>')
        //             .append('<img src="' + element.path + '">')
        //             .append('<div class="inner"><p>' + element.name + ' | ' + element.caption + '</p></div>')
        //             .appendTo('#img_unit');
        //     }
        // });

        let vue_title = new Vue({
            el: '#vue_title',
            data: {
                message_from_vue: 'My Photo (this title set by Vue)'
            }
        })
        let vue_footter = new Vue({
            el: '#vue_footter',
            data: {
                company: 'SOTALab.com',
                msg: 'Less is Simple.'
            }
        });
    </script>
</body>
</html>