@import url(sanitize.css);

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    font-size: 24px;
    margin: 0;
}

h1 {
    font-size: 36px;
    margin: 0;
}

header {
    margin-bottom: 30px;
}

.content {
    background-color: blanchedalmond;
    width: 800px;
    margin: 10px auto;
}

.date {
    font-size: 300%;
}

.content img {
    margin: 15px auto;
}

.content img:hover {
    opacity: .8;
}
