@import url(sanitize.css);

p {
    font-size: 24px;
    margin: 0;
}

h1 {
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.content {
    background-color: blanchedalmond;
    width: 800px;
    margin: 10px auto;
}

.content img {
    margin: 15px auto;
}

.content img:hover {
    opacity: .8;
}
